---
# Update MaCh3 container image registry with newest updates
name: Image CD

# The events that trigger the workflow
on:
  push:
    branches:
      - develop
    tags:
      - 'v*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false  # KS: Prevents cancellation of remaining jobs if one fails
      matrix:
        include:
          - os: alma9
            file: doc/MaCh3DockerFiles/Alma9/Dockerfile
            tag_latest: alma9latest
          - os: Ubuntu22.04
            file: doc/MaCh3DockerFiles/Ubuntu22.04/Dockerfile
            tag_latest: ubuntulatest


    name: Image CD ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Build Docker image
        run: |
          if [ "${{ github.ref_type }}" == "tag" ]; then
            docker build . \
              --file "${{ matrix.file }}" \
              --tag "ghcr.io/dune/mach3:${{ matrix.os }}${{ github.ref_name }}" \
              --build-arg MACH3_DUNE_VERSION="${{ github.ref_name }}" 
          else
            docker build . \
              --file "${{ matrix.file }}" \
              --tag "ghcr.io/dune/mach3:${{ matrix.tag_latest }}" \
              --build-arg MACH3_DUNE_VERSION="develop" 
          fi

      - name: Push Docker image
        run: |
          if [ "${{ github.ref_type }}" == "tag" ]; then
            docker push "ghcr.io/dune/mach3:${{ matrix.os }}${{ github.ref_name }}"
          else
            docker push "ghcr.io/dune/mach3:${{ matrix.tag_latest }}"
          fi

      - name: Delete old images
        uses: actions/delete-package-versions@v5
        with:
          package-name: 'mach3'
          package-type: 'container'
          min-versions-to-keep: 5
          delete-only-untagged-versions: 'true'